.contact {
    font-size: 1.5em;
    padding: 150px 4%;
    background-color: #ad998d;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
}
input, textarea {
    width: 80%;
    background-color: #C5B0a3;
    font-size: 1em;
    margin: 10px auto;
    border: 1px solid #22333B;
    border-radius: 5px;
}
textarea {
    height: 200px;
}
.btn {
    text-align: center;
    color: #C5B0A3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    margin: 20px auto;
    align-items: center;
    width: 100px;
    height: 33px;
    background-color: #22333B;
    border-radius: 30px;
    overflow: hidden;
}
.btn:hover {
    background-color: #314750;
}