@font-face {
    font-family: 'Storyboo';
    src: url('../assets/fonts/Storyboo.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chillax-Regular';
    src: url('../assets/fonts/Chillax-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background-color: #c5b0a3;
    font-family: 'Ubuntu', sans-serif;
    color: #22333B;
}
.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#logoOnceADev {
    position: relative;
    top: 23px;
    font-family: 'Storyboo';
    margin: 0 auto;
    color: #22333B;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
}
.header__logo h2 {
    font-family: 'Chillax-regular';
    position: relative;
    font-weight: lighter;
    letter-spacing: 3px;
}
.flags {
    position: absolute;
    right: 30px;
}
.flags img {
    width: 30px;
    margin-left:10px;
    border-radius: 5px;
    cursor: pointer;
}
.section__one__images img {
    position: relative;
    top: 10px;
    max-width: 15%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition: top 2s ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section__one h2 {
    text-align: center;
    font-family: 'Chillax-regular';
}
.section__one__images {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    gap: 2%;
}

.section__one__introduction p {
    font-size: 1.5em;
    text-align: center;
    padding: 0 4%;
    color: #22333b;
    font-family: 'ubuntu', sans-serif;
}

@media screen and (min-width: 980px) {
    .flags {
        top: 50px;
    }
    .section__one__images img {
        position: relative;
        top: 10px;
        width: 15%;
        height: 60vh;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        transition: top 2s ease-in-out 0.2s;
    }
}


