
@font-face {
    font-family: 'ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.section__four {
    position: relative;
    font-family: 'ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  auto;
}
.section__four::before {
    content: "";
    position: absolute;
    top: -280px;
    left: 0;
    width: 100%;
    height: calc(100% + 150px);
    background-color: #C5B0A3;
    -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
    z-index: -1;
}
.section__four__image {
    margin: 40px auto;
}
.section__four__image img {
    width: 80vw;
    position: relative;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section__four__logos {
    margin: 40px 4%;
}
.section__four__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 1.5em;
    padding: 4%;
}
.section__four__img {
    width: 12%;
    padding-top: 30px;;
}
.about__introduction {
    width: 80%;
}
@media screen and (min-width: 1200px) {
    .section__four {
        padding-left: 7%;
        padding-right: 7%;
    }
    .section__four__main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 15%;
        margin: 150px auto;
    }
    .section__four__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
        font-size: 1.5em;
        padding: 4%;
    }
    .section__four__text h1 {
        font-size: 3rem;
    }
    .section__four__image {
        width: 50%;
    }.section__four__image img {
        width: 100%;
    }
    .section__four__text {
        display: flex;
        flex-direction: column;
    }
}