
@font-face {
    font-family: 'ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.section__three {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 4%;
}
.section__three::before {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: calc(100% + 150px);
    background-color: #262626;
    z-index: -1;

}
.section__three__intro__textYellow {
    font-size: 1.5em;
    color:#C5B0A3;
}
.container__white {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    margin: 20px auto;
    max-height: 200px;
    padding: 10%;
    border-radius: 40px;
    font-family: 'ubuntu', sans-serif;
}
.container__yellow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #C5B0A3;
    padding: 10%;
    max-height: 200px;
    border-radius: 40px;
    font-family: 'ubuntu', sans-serif;
}
.nb__icon {
    width: 30px;
    height: 30px;
}
.nb__rank {
    font-size: 1.7em;
}
.yellow {
    color: #C5B0A3;
}
.white {
    color: white;
}
.nb__rank__title {
    font-size: 1em;
    font-weight: 500;
}
.container__5 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 20px auto;
    padding: 47px;
    border-radius: 40px;
    font-size: 1.5em;
}
.container__5 img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.nb__arrows {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1200px) {

    .section__three__main {
        display: flex;
        flex-direction: row;
    }
    .section__three__intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15%;
        width: 35%;
        font-size: 1.5rem;
    }
    .section__three__container__nb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        margin-left: 15%;
    }

    .section__three__container__nb--one {
        display: flex;
        flex-direction: row;
    }
    .section__three__container__nb--two {
        display: flex;
        flex-direction: row-reverse;
    }
    .container__white {
        width: 270px;
        height: 270px;
        margin: 15px;
    }
    .container__yellow {
        width: 270px;
        height: 270px;
        margin: 15px;
    }
    .nb__icon {
        width: 25%;
    }
    .nb__rank {
        font-size: 2em;
    }
    .nb__rank__title {
        font-size: 14px;
        font-weight: 700;
    }
    .container__5 {
        display: flex;
        flex-direction: row;
    }
    .container__5 img {
        max-width: 30%;
        object-fit: contain;
    }
    .container__five__text {
        padding: 0 70px;
    }
}